RewriteEngine On

# Force HTTPS + suppression du www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.lisamercier-dieteticienne\.fr$ [NC]
RewriteRule ^(.*)$ https://lisamercier-dieteticienne.fr/$1 [L,R=301]

# Bloque l’accès aux fichiers sensibles
<FilesMatch "\.(htaccess|env|git|log|sql)$">
  Require all denied
</FilesMatch>

# Redirection index.php → /accueil
RewriteRule ^accueil$ index.php [L]

# Réécriture des autres fichiers 
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(consultations|inbody|rgpd|tarifs)$ $1.php [L]