//fonts
$montserrat: 'Montserrat', sans-serif;
$pompiere: 'Pompiere', sans-serif;



$color-black: #151515;
$color-white: #FFFFFF;
$color-Beige: #f8f2ee;
$color-orange: #cf7c66;

$shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

* {
    box-sizing: border-box;
    margin: 0px;

}

body {
    background-color: $color-Beige;
}

h2 {
    font-size: 3em;
    font-family: $pompiere;
    font-weight: 100;
    text-transform: uppercase;

}

h3 {
    font-size: 2em;
    font-family: $montserrat;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

g {
    color: $color-orange;
    font-weight: 600;
}

a {
    color: $color-black;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}



button {
    width: 300px;
    font-size: 1.2em;
    font-family: $montserrat;
    font-weight: 700;
    padding: 0.5em 2em;
    border: solid 2px $color-orange;
    border-radius: 50px;
    background-color: $color-orange;
    color: $color-Beige;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: $shadow;


    &:hover {
        box-shadow: 0 0 10px rgba($color-orange, 0.6),
            0 0 20px rgba($color-orange, 0.4);
        transform: scale(1.05);
    }


    &:active {
        transform: scale(0.98);
    }

    img {
        height: 20px;
        margin-bottom: 2px;
        vertical-align: middle;
        width: auto
    }

}





//navbar
nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    border-bottom: solid 10px $color-orange;
    background-color: $color-white;
    box-shadow: $shadow;

    .logo {
        width: 80px;
        height: 80px;
        margin-left: 50px;
        transition: all 0.3s ease-out;



    }

    img:hover {
        text-decoration: underline 2px $color-orange;
        scale: 1.09;

    }

    a {
        color: $color-black;
        text-decoration: none;



    }

    .actions {
        display: flex;
        justify-content: end;
        margin-top: 25px;
        margin-right: 3em;
        font-family: $montserrat;
        font-size: 1.8em;
        gap: 2em;
        width: 90%;
        height: fit-content;


        a {
            transition: all 0.3s ease-out;

        }

        a:hover {
            text-decoration: underline 2px $color-orange;
            scale: 1.09;


        }

    }

}

//footer
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: solid 2px $color-orange;
    gap: 1em;
    padding: 2em;
    background-color: $color-orange;
    color: $color-Beige;

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    a {
        color: $color-Beige;
        text-decoration: none;



    }

    a:hover {
        text-decoration: underline 2px $color-Beige;
    }
}


//home page

header {
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $pompiere;
        color: $color-Beige;
        font-size: 2.6em;
        font-weight: 100;
        background-color: rgba($color-orange, 0.8);
        width: 100%;
        height: 150px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 18em;
    gap: 5em;
    padding-bottom: 10em;
    font-family: $montserrat;

    .profil {
        display: flex;
        margin: 3em;
        padding: 2em;
        background-color: #f9f9f9;
        border-bottom: solid 2px $color-orange;
        border-radius: 15px;
        box-shadow: $shadow;


        img {
            width: 640px;
            height: 320px;
            border-radius: 15px;

        }

        .infos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2em;
            width: 100%;

            h4 {
                font-size: 1.5em;
                font-weight: 500;
            }

            p {
                font-size: 1em;
                font-weight: 400;
            }
        }

        .doctolib {
            height: 30px;
            margin-bottom: 3px;
            vertical-align: middle;
            width: auto
        }

    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: justify;
        gap: 2em;
        margin: 1em 3em;
        padding: 3em;
    }

    .review {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: 1em 3em;

    }


    .place {
        display: flex;
        flex-direction: column;
        margin: 1em 3em;
        padding: 2em;
        background-color: #f9f9f9;
        border-bottom: solid 2px $color-orange;
        border-radius: 15px;
        box-shadow: $shadow;

        .inline {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2em;

            .address {
                display: flex;
                flex-direction: column;
                gap: 2em;
                max-width: 450px;
            }

            h3 {
                font-size: 1.5em;
                font-weight: 400;
            }

            iframe {
                border-radius: 15px;
                flex-shrink: 0;
                width: 512px;
                height: 256px;
            }
        }

        p {
            margin-top: 2em;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        margin: 1em 3em;

        i {
            font-size: 2em;
            color: $color-orange;
        }

        .infos {
            gap: 3em;

        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline 2px $color-orange;
        }


    }


}

//consultations
.consult {
    h2 {
        text-align: center;
        padding: 1em;
    }

    .column {
        gap: 2em;
        padding: 2em;
        text-align: justify;
        height: 100%;
        background-color: #f9f9f9;
        border-bottom: solid 2px $color-orange;
        border-right: solid 2px $color-orange;
        border-radius: 15px;
        box-shadow: $shadow;
        transition: all 0.5s ease-out;
    }

    .column:hover {
        scale: 1.1;
    }
}

//tarifs
.tarifs {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3em;
    padding-bottom: 5em;


    h2 {
        text-align: center;
        padding: 1em;
    }

    .table-container {
        .table {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .banner {
                padding: 20px;
                text-align: center;
                height: 100%;
                background-color: #f9f9f9;
                border-bottom: solid 2px $color-orange;
                border-radius: 15px;
                box-shadow: $shadow;
                transition: all 0.5s ease;


                h3 {
                    font-size: 1.5em;
                    font-weight: 400;
                    margin-top: 0;
                    color: $color-black;

                }

                p {
                    margin: 1em 0;
                    color: #555;
                    font-size: 1em;
                }
            }

            .banner:hover {
                scale: 1.08;
            }
        }
    }

    .column {
        gap: 1em;
        padding: 3em;
        text-align: center;
        height: 100%;

        p {
            font-family: $montserrat;
            font-weight: 400;
        }


    }

}

.inb {
    padding-bottom: 5em;
    align-items: center;

    h2 {
        text-align: center;
        padding: 1em;

    }

    p {
        text-align: justify;
    }

    .table-container {
        .table {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .banner {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                text-align: center;
                height: 300px;
                width: 300px;
                background-color: #f9f9f9;
                border-bottom: solid 2px $color-orange;
                border-radius: 15px;
                box-shadow: $shadow;

                h3 {
                    font-size: 2em;


                }

                p {
                    margin: 1em 0;
                    color: #555;
                    font-size: 1.5em;
                    text-align: center;
                }
            }

            .banner:hover {
                scale: 1.01;
            }
        }
    }

    img {
        width: 50%;
        padding: 20px;
        background-color: #f9f9f9;
        border-bottom: solid 2px $color-orange;
        border-radius: 15px;
        box-shadow: $shadow;


    }

    img:hover {
        scale: 1.1;
    }
}

.rgpd {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;

    ul {
        list-style: none;
        margin-right: 10em;

        li {
            display: grid;
            grid-template-columns: 400px 1fr; // 200px = largeur fixe de la "colonne étiquette"
            margin-bottom: 1em;


            &::before {
                content: attr(data-label);
                font-weight: bold;
                text-align: right;
                padding-right: 1em;
            }
        }
    }

    h2 {
        text-align: center;
        padding: 1em;

    }

    p {
        text-align: justify;
    }
}