//fonts
$glacial: 'Glacial Indifference', sans-serif;
$pompiere: 'Pompiere', sans-serif;

$color-black: #151515;
$color-white: #FFFFFF;
$color-Beige: #EBE1D6;
$color-orange: #D07A67;

* {
    box-sizing: border-box;
    margin: 0px;

}

nav {
    display: flex;
    justify-content: space-between;

    border-bottom: solid 2px #D07A67;

    .logo {
        width: 150px;
        height: 150px;
        margin-left: 50px;
    }

    a {
        color: $color-black;
        text-decoration: none;


    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        font-family: $pompiere;
        font-size: 3em;
        gap: 200px;
        width: 90%;
        height: 100px;

    }

}