//fonts
$glacial: 'Glacial Indifference', sans-serif;
$pompiere: 'Pompiere', sans-serif;



$color-black: #151515;
$color-white: #FFFFFF;
$color-Beige: #EBE1D6;
$color-orange: #d06767;

$shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

* {
    box-sizing: border-box;
    margin: 0px;

}

body {
    background-color: rgb(255, 255, 255);
}

h2 {
    font-size: 4em;
    font-family: $pompiere;
    font-weight: 100;
    text-transform: uppercase;

}

h3 {
    font-size: 3em;
    font-family: $glacial;
    font-weight: 100;
    text-transform: uppercase;
}

p {
    font-size: 2em;
    line-height: 1.5;
}

a {
    color: $color-black;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}



button {
    min-width: 350px;
    max-width: 450px;
    font-size: 1.6em;
    font-family: $glacial;
    padding: 0.5em 2em;
    border: solid 2px $color-orange;
    border-radius: 50px;
    background-color: $color-Beige;
    color: $color-orange;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;


    &:hover {
        background-color: $color-orange;
        color: $color-Beige;
        box-shadow: 0 0 10px rgba($color-orange, 0.6),
            0 0 20px rgba($color-orange, 0.4);
        transform: scale(1.05);
    }


    &:active {
        transform: scale(0.98);
    }
}



//navbar
nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    border-bottom: solid 2px $color-orange;
    background-color: $color-white;


    .logo {
        width: 80px;
        height: 80px;
        margin-left: 50px;
    }

    a {
        color: $color-black;
        text-decoration: none;



    }

    .actions {
        display: flex;
        justify-content: end;
        margin-top: 25px;
        margin-right: 3em;
        font-family: $pompiere;
        font-size: 1.8em;
        gap: 200px;
        width: 90%;
        height: fit-content;

        a:hover {
            text-decoration: underline 2px;
        }

    }

}

//footer
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: solid 2px $color-orange;
    gap: 1em;
    padding: 2em;
    background-color: $color-Beige;

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}


//home page

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-image: url("assets/background.jpg");
    background-position: center;
    background-size: cover;
    border-bottom: solid 2px $color-orange;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $glacial;
        color: $color-Beige;
        font-size: 2.6em;
        font-weight: 100;
        background-color: rgba($color-orange, 0.8);
        width: 100%;
        height: 150px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 3em;
    gap: 10em;
    padding-bottom: 10em;
    font-family: $glacial;

    .profil {
        display: flex;
        margin: 3em;
        padding: 5em;
        background-color: #f9f9f9;
        border-bottom: solid 2px $color-orange;
        border-radius: 15px;
        box-shadow: $shadow;


        img {
            width: 600px;
            height: 450px;
            border-radius: 15px;

        }

        .infos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3em;
            width: 100%;
        }

    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: 1em 3em;
        padding: 3em;
        background-color: #f9f9f9;
        border-bottom: solid 2px $color-orange;
        border-radius: 15px;
        box-shadow: $shadow;


    }

    .review {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: 1em 3em;

    }

    .reservation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: 1em 3em;

        .btn-actions {
            display: flex;
            gap: 3em;
        }
    }

    .place {
        display: flex;
        flex-direction: row;

        margin: 1em 3em;
        padding: 2em;
        background-color: #f9f9f9;
        border-bottom: solid 2px $color-orange;
        border-radius: 15px;
        box-shadow: $shadow;

        .inline {
            gap: 5em;

            iframe {
                border-radius: 15px;


            }


            .address {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 60%;
                gap: 2em;

                h3 {
                    font-size: 2em;
                }

                p {
                    font-size: 1em;
                }
            }
        }

    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        margin: 1em 3em;

        i {
            font-size: 2em;
            color: $color-orange;
        }

        .infos {
            gap: 3em;

        }

        a {
            font-size: 2em;
            text-decoration: none;
        }


    }


}

//consultations
.consult {
    h2 {
        text-align: center;
        padding: 1em;
    }

    .column {
        gap: 2em;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        padding: 3em;
        text-align: justify;
        height: 100%;
        box-shadow: $shadow;
    }

    .column:hover {
        scale: 1.01;
    }
}

//tarifs
.tarifs {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5em;
    padding-bottom: 5em;


    h2 {
        text-align: center;
        padding: 1em;
    }

    .table-container {
        .table {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .banner {
                border: 1px solid #ccc;
                background-color: #f9f9f9;
                padding: 20px;
                text-align: center;
                height: 100%;
                box-shadow: $shadow;

                h3 {
                    margin-top: 0;
                    color: $color-black;

                }

                p {
                    margin: 1em 0;
                    color: #555;
                    font-size: 1.5em;
                }
            }

            .banner:hover {
                scale: 1.01;
            }
        }
    }

    .column {
        gap: 2em;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        padding: 3em;
        text-align: center;
        height: 100%;
        box-shadow: $shadow;

        h3 {
            font-size: 2.5em;
            text-transform: none;
        }
    }

}

.inb {
    padding-bottom: 5em;
    align-items: center;

    h2 {
        text-align: center;
        padding: 1em;

    }

    p {
        text-align: justify;
    }

    .table-container {
        .table {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            .banner {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 1px solid #ccc;
                background-color: #f9f9f9;
                padding: 20px;
                text-align: center;
                height: 300px;
                width: 300px;
                box-shadow: $shadow;

                h3 {
                    font-size: 2em;


                }

                p {
                    margin: 1em 0;
                    color: #555;
                    font-size: 1.5em;
                    text-align: center;
                }
            }

            .banner:hover {
                scale: 1.01;
            }
        }
    }

    img {
        width: 50%;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        padding: 20px;
        box-shadow: $shadow;


    }

    img:hover {
        scale: 1.1;
    }
}

.rgpd {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;

    ul {
        list-style: none;
        margin-right: 10em;

        li {
            display: grid;
            grid-template-columns: 400px 1fr; // 200px = largeur fixe de la "colonne étiquette"
            margin-bottom: 1em;


            &::before {
                content: attr(data-label);
                font-weight: bold;
                text-align: right;
                padding-right: 1em;
            }
        }
    }

    h2 {
        text-align: center;
        padding: 1em;

    }

    p {
        text-align: justify;
    }
}