* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #f8f2ee;
}

h2 {
  font-size: 3em;
  font-family: "Pompiere", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

h3 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
}

g {
  color: #cf7c66;
  font-weight: 600;
}

a {
  color: #151515;
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 300px;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 0.5em 2em;
  border: solid 2px #cf7c66;
  border-radius: 50px;
  background-color: #cf7c66;
  color: #f8f2ee;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
button:hover {
  box-shadow: 0 0 10px rgba(207, 124, 102, 0.6), 0 0 20px rgba(207, 124, 102, 0.4);
  transform: scale(1.05);
}
button:active {
  transform: scale(0.98);
}
button img {
  height: 20px;
  margin-bottom: 2px;
  vertical-align: middle;
  width: auto;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  justify-content: space-between;
  border-bottom: solid 10px #cf7c66;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav .logo {
  width: 80px;
  height: 80px;
  margin-left: 50px;
  transition: all 0.3s ease-out;
}
nav img:hover {
  -webkit-text-decoration: underline 2px #cf7c66;
          text-decoration: underline 2px #cf7c66;
  scale: 1.09;
}
nav a {
  color: #151515;
  text-decoration: none;
}
nav .actions {
  display: flex;
  justify-content: end;
  margin-top: 25px;
  margin-right: 3em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  gap: 2em;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
}
nav .actions a {
  transition: all 0.3s ease-out;
}
nav .actions a:hover {
  -webkit-text-decoration: underline 2px #cf7c66;
          text-decoration: underline 2px #cf7c66;
  scale: 1.09;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: solid 2px #cf7c66;
  gap: 1em;
  padding: 2em;
  background-color: #cf7c66;
  color: #f8f2ee;
}
footer h2 {
  font-size: 2em;
}
footer p {
  font-size: 1em;
}
footer a {
  color: #f8f2ee;
  text-decoration: none;
}
footer a:hover {
  -webkit-text-decoration: underline 2px #f8f2ee;
          text-decoration: underline 2px #f8f2ee;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pompiere", sans-serif;
  color: #f8f2ee;
  font-size: 2.6em;
  font-weight: 100;
  background-color: rgba(207, 124, 102, 0.8);
  width: 100%;
  height: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 18em;
  gap: 5em;
  padding-bottom: 10em;
  font-family: "Montserrat", sans-serif;
}
.container .profil {
  display: flex;
  margin: 3em;
  padding: 2em;
  background-color: #f9f9f9;
  border-bottom: solid 2px #cf7c66;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container .profil img {
  width: 640px;
  height: 320px;
  border-radius: 15px;
}
.container .profil .infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
}
.container .profil .infos h4 {
  font-size: 1.5em;
  font-weight: 500;
}
.container .profil .infos p {
  font-size: 1em;
  font-weight: 400;
}
.container .profil .doctolib {
  height: 30px;
  margin-bottom: 3px;
  vertical-align: middle;
  width: auto;
}
.container .intro {
  display: flex;
  flex-direction: column;
  align-items: justify;
  gap: 2em;
  margin: 1em 3em;
  padding: 3em;
}
.container .review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  margin: 1em 3em;
}
.container .place {
  display: flex;
  flex-direction: column;
  margin: 1em 3em;
  padding: 2em;
  background-color: #f9f9f9;
  border-bottom: solid 2px #cf7c66;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container .place .inline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.container .place .inline .address {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 450px;
}
.container .place .inline h3 {
  font-size: 1.5em;
  font-weight: 400;
}
.container .place .inline iframe {
  border-radius: 15px;
  flex-shrink: 0;
  width: 512px;
  height: 256px;
}
.container .place p {
  margin-top: 2em;
}
.container .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 1em 3em;
}
.container .contact i {
  font-size: 2em;
  color: #cf7c66;
}
.container .contact .infos {
  gap: 3em;
}
.container .contact a {
  text-decoration: none;
}
.container .contact a:hover {
  -webkit-text-decoration: underline 2px #cf7c66;
          text-decoration: underline 2px #cf7c66;
}

.consult h2 {
  text-align: center;
  padding: 1em;
}
.consult .column {
  gap: 2em;
  padding: 2em;
  text-align: justify;
  height: 100%;
  background-color: #f9f9f9;
  border-bottom: solid 2px #cf7c66;
  border-right: solid 2px #cf7c66;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-out;
}
.consult .column:hover {
  scale: 1.1;
}

.tarifs {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 3em;
  padding-bottom: 5em;
}
.tarifs h2 {
  text-align: center;
  padding: 1em;
}
.tarifs .table-container .table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.tarifs .table-container .table .banner {
  padding: 20px;
  text-align: center;
  height: 100%;
  background-color: #f9f9f9;
  border-bottom: solid 2px #cf7c66;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.tarifs .table-container .table .banner h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 0;
  color: #151515;
}
.tarifs .table-container .table .banner p {
  margin: 1em 0;
  color: #555;
  font-size: 1em;
}
.tarifs .table-container .table .banner:hover {
  scale: 1.08;
}
.tarifs .column {
  gap: 1em;
  padding: 3em;
  text-align: center;
  height: 100%;
}
.tarifs .column p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.inb {
  padding-bottom: 5em;
  align-items: center;
}
.inb h2 {
  text-align: center;
  padding: 1em;
}
.inb p {
  text-align: justify;
}
.inb .table-container .table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.inb .table-container .table .banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: #f9f9f9;
  border-bottom: solid 2px #cf7c66;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.inb .table-container .table .banner h3 {
  font-size: 2em;
}
.inb .table-container .table .banner p {
  margin: 1em 0;
  color: #555;
  font-size: 1.5em;
  text-align: center;
}
.inb .table-container .table .banner:hover {
  scale: 1.01;
}
.inb img {
  width: 50%;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: solid 2px #cf7c66;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.inb img:hover {
  scale: 1.1;
}

.rgpd {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}
.rgpd ul {
  list-style: none;
  margin-right: 10em;
}
.rgpd ul li {
  display: grid;
  grid-template-columns: 400px 1fr;
  margin-bottom: 1em;
}
.rgpd ul li::before {
  content: attr(data-label);
  font-weight: bold;
  text-align: right;
  padding-right: 1em;
}
.rgpd h2 {
  text-align: center;
  padding: 1em;
}
.rgpd p {
  text-align: justify;
}/*# sourceMappingURL=app.css.map */